* {
  font-family: "Roboto", sans-serif;
}
header {
  min-height: 53px;
  background: #212121;
  /* position: fixed; */
}
.menu {
  margin: 0;
  padding: 0px 70px;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 53px;
  margin: 0;
  padding: 0;
}
.menu-li {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  list-style: none;
  border-right: 2px dotted black;
  padding-right: 28px;
}
.header-bottom {
  min-height: 68px;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.6);
}
.header-bottom-wrapper {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-text {
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
}
.tel-wrapper {
  margin-left: 220px;
}
.tel-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  text-align: end;
}
.tel-wrapper a {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.header-bottom-btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.offer {
  /* position: relative; */
  min-height: 800px;
  background: url(/src/img/uber_bg.jpg) center no-repeat;
  margin: -1px;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 45px;
}
.offer-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.offer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0 93px;
  margin-top: 15px;
}
.offer-btn {
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);

  display: block;
  margin: 0 auto;
  margin-top: 115px;
}
.reasons {
  min-height: 850px;
  padding: 18px 0 64px 0;
}
.reasons-btn {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 33px;
}
.reasons-title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 16px;
}
.reasons-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 25px;
  height: 150px;
}
.reasons-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1eacc7;
  border-radius: 50%;
  width: 116px;
  height: 116px;
}
.reasons-icon-text {
  max-width: 372px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  align-items: center;
  color: #202020;
}
.reasons-icon-text span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}
